

<!--user导航-->
<div class="user-menu">
	<div class="user-menu-con g-c">
		<!-- <div class="info-left">
			<a class="log" href="/" title="民投金服LOGO"></a>
			<span class="log-txt"></span>
		</div> -->
		<div class="info-nav">
			<ul>
				<li><a href="/">平台数据</a></li>
				<li class="child">
					<a href="/test">Mongoose</a>
					<i class="child-direction-ico"></i>
					<div class="child-menu">
						<a href="/test">增删查改</a>
						<a href="/test/pages/">分页</a>
					</div>
				</li>
				<li class="child">
					<a href="/about">关于民投</a>
					<i class="child-direction-ico"></i>
					<div class="child-menu">
						<a href="/about">关于民投</a>
						<a href="/about/shareholder">股东背景</a>
						<a href="/about/team">高管团队</a>
						<a href="/about/honors">资质荣誉</a>
						<a href="/about/contact">联系我们</a>
					</div>
				</li>
				<li class="child">
					<a href="/news/noticeList">公司动态</a>
					<i class="child-direction-ico"></i>
					<div class="child-menu">
						<a href="/news/noticeList">媒体报道</a>
						<a href="/news/reportList">平台公告</a>
					</div>
				</li>
				<li class="child">
					<a href="/supervise/supervise">监管法规</a>
					<i class="child-direction-ico"></i>
					<div class="child-menu">
						<a href="/supervise/supervise">监管部门</a>
						<a href="/supervise/laws">法律法规</a>
					</div>
				</li>				
			</ul>
		</div>
	</div>	
</div>
<script>seajs.use('/views/module/headInfo/js/init');</script>
