<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<title>版权信息</title>
<link type="text/css" href="../head/css/style.css" rel="stylesheet">
<link type="text/css" href="css/style.css" rel="stylesheet">
<script type="text/javascript" src="../../plugIn/seajs/sea.js"></script>
</head>
<body>



<div class="user-footer">
    <div class="g-c">
        <a target="_blank" href="https://www.100lending.com/about?index" titile="平台介绍">平台介绍</a>|
        <a target="_blank" href="https://www.100lending.com/about?contactus" titile="联系我们">联系我们</a>|
        <a target="_blank" href="http://www.100lending.com/about?compliance" titile="法律法规">法律法规</a>|
        <a target="_blank" href="http://www.100lending.com/guarantee/security" titile="项目风控">项目风控</a>|
        <a target="_blank" href="http://www.100lending.com/support?type=knowledge" titile="新手指南">新手指南</a>|
        <a target="_blank" href="http://www.100lending.com/support" titile="理财知识">理财知识</a>
        <p>Copyright © 2017 100lending.com All Rights Reserved. 粤ICP备15105311号<Br />深圳前海极速一百金融服务有限公司    市场有风险，投资需谨慎</p>
    </div>
</div>



<br/><br/><br/>



<div class="footer">
    <div class="g-c">
        <div class="footerTop">
            <div class="l area">
                <div class="p p1">
                    <div class="bt"><a href="http://www.100lending.com/about?index" target="_blank" title="关于我们">关于我们</a></div>
                    <div class="st"><a href="http://www.100lending.com/about?team" target="_blank" title="管理团队">管理团队</a></div>
                    <div class="st"><a href="http://www.100lending.com/about?contactus" target="_blank" title="联系我们">联系我们</a></div>
                </div>
                <div class="p p2">
                    <div class="bt"><a href="http://www.100lending.com/guarantee/security" target="_blank" title="安全保障">安全保障</a></div>
                    <div class="st"><a href="http://www.100lending.com/about?compliance" target="_blank" title="法律法规">法律法规</a></div>
                    <div class="st"><a href="http://www.100lending.com/guarantee/security#security" target="_blank" title="投资安全">投资安全</a></div>
                </div>
                <div class="p p3">
                    <div class="bt"><a href="http://www.100lending.com/support" target="_blank" title="帮助中心">帮助中心</a></div>
                    <div class="st"><a href="http://www.100lending.com/support" target="_blank" title="注册理财">注册理财</a></div>
                    <div class="st"><a href="http://www.100lending.com/support?type=knowledge" target="_blank" title="票据知识">票据知识</a></div>
                </div>
            </div>
            <div class="c area">
                <div class="cl">
                    <div class="txt">客户端下载</div>
                    <div class="ewm ewm1"></div>
                </div>
                <div class="cc">
                    <div class="btn t">
                        <a href="http://www.100lending.com/app/download" class="android" target="_blank" title="Android">Android</a>
                    </div>
                    <div class="btn b">
                        <a href="http://www.100lending.com/app/download" class="ios" target="_blank" title="iOS">iOS</a>
                    </div>
                </div>
                <div class="cr">
                    <div class="txt">微信公众号</div>
                    <div class="ewm ewm2"></div>
                </div>
            </div>
            <div class="r area">
                <div class="kf">
                    <div class="line1">
                        <span>客服热线：</span><font>400-888-6221</font>
                    </div>
                    <div class="line2"><span>工作时间：</span></div>
                    <div class="line3"><span>工作日( 08:30 - 20:30 )</span></div>
                    <div class="line4"><span>周末及节假日( 10 : 00 - 17 : 30 )</span><a target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDgxODAwOV80NTg5MDZfODAwODE4MDA5XzJf" class="kfqq"></a></div>
                </div>
            </div>
        </div>
        <div class="footerBottom">
            <div class="seo">
                    <a href="http://www.100lending.com/html/piaoju.html" target="_blank" title="票据">票据</a>
                     |
                    <a href="http://www.100lending.com/html/zhifubao.html" target="_blank" title="支付宝">支付宝</a>
                     |
                    <a href="http://www.100lending.com/html/weixin.html" target="_blank" title="微信">微信</a>
                     |
                    <a href="http://www.100lending.com/html/jijin.html" target="_blank" title="基金">基金</a>
                     |
                    <a href="http://www.100lending.com/html/yhcdhpiao.html" target="_blank" title="银行承兑汇票">银行承兑汇票</a>
                     |
                    <a href="http://www.100lending.com/html/zhifubaotx.html" target="_blank" title="支付宝提现">支付宝提现</a>
                     |
                    <a href="http://www.100lending.com/html/zhifubaozz.html" target="_blank" title="支付宝转账">支付宝转账</a>
                     |
                    <a href="http://www.100lending.com/html/zhifubaolc.html" target="_blank" title="支付宝理财">支付宝理财</a>
            </div>
            <div class="txt">Copyright &copy; 2017 100lending.com All Rights Reserved. <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备15105311号</a><br>深圳前海极速一百金融服务有限公司    市场有风险，投资需谨慎</div>
            <div class="qwLinks">
                <a class="lk02" href="http://www.miitbeian.gov.cn/" rel="nofollow" target="_blank" title="经营性网站备案信息"></a>
                <a class="lk04" href="http://szcert.ebs.org.cn/8fb6e322-a7d6-4abe-95bc-06527d8c5cef" target="_blank" rel="nofollow" title="深圳市市场监督管理局企业主体身份公示"></a>
                <a class="lk09" href="https://credit.szfw.org/CX20170220033211161682.html" rel="nofollow" target="_blank" title="诚信网站"></a>
                <a class="lk01" href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/PJ2017041302" rel="nofollow" target="_blank" title="企业信用评级证书"></a>
                <a class="lk07" href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=www.100lending.com&amp;lang=zh_cn" rel="nofollow" target="_blank" title="SSL"></a>
                <a class="lk08" href="http://webscan.360.cn/index/checkwebsite/url/www.100lending.com" rel="nofollow" target="_blank" title="360网站安全检测"></a>
                <a class="lk10" href="https://v.anquan.org/cert/site/?site=www.100lending.com&amp;at=business" rel="nofollow" target="_blank" title="安全联盟信誉档案库"></a>
            </div>
        </div>
    </div>
</div>




</body>
</html>