 <!doctype html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<title>{{ title }}</title>

	<link type="text/css" href="/views/test/css/style.css" rel="stylesheet">
	<script type="text/javascript" src="/plugIn/seajs/sea.js"></script>
	<script type="text/javascript" src="/plugIn/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

{{include '../module/headInfo/index'}}

<div class="g-c mongoose">
	<h1>新增数据</h1>
	<textarea id='areaId'></textarea>
	<div><input type="button" name="" id='btnSub' value="提交">
	<input type="button" name="" id='btnQuery' value='查找'>
	<input type="button" name="" id='btnDel' value='删除'>
	<input type="button" name="" id='btnUpdate' value='更新'>
	</div>
</div>

<script type="text/javascript">
	var staticRoot = '{{ staticRoot}}';
</script>
<script>seajs.use('/views/test/js/init');</script>
</body>
</html>