<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>404页面丢失</title>
    <link type="text/css" href="./css/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="head">
        <div class="g-o">
            <a class="logo" href="/" title="凤凰金控">凤凰金控</a>
            <div  class="back"><a href="/">返回首页</a></div>
        </div>
    </div>
    <div class="g-o">
        <div class="error-con error-404">
            <p class="b">很抱歉，您访问的页面不存在或已被删除。</p>
        </div>
    </div>
    <div class="footer">©Copyright(c)2016 mintou.com.ALL Rights Reserved  粤ICP备1234569  粤ICP证123456号  市场有风险，投资需谨慎</div>
</div>
</body>
</html>