<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>系统错误</title>
    <link type="text/css" href="./css/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="head">
        <div class="g-o">
            <a class="logo" href="/" title="凤凰金控">凤凰金控</a>
            <div  class="back"><a href="/">返回首页</a></div>
        </div>
    </div>
    <div class="g-o">
        <div class="error-con error-500">
            <p class="b">哎呀，系统居然偷懒了，无法正常显示您要的页面。</p>
            <p>别着急，我们已记录下问题，工程师们会尽快修复它。</p>
        </div>
    </div>
    <div class="footer">©Copyright(c)2016 mintou.com.ALL Rights Reserved  粤ICP备1234569  粤ICP证123456号  市场有风险，投资需谨慎</div>
</div>
</body>
</html>