<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<title>右则回到顶部</title>
<link type="text/css" href="css/style.css" rel="stylesheet">
<!--'../../css/style.css'基本样式,只是看效果-->
<link type="text/css" href="./css/style.css" rel="stylesheet">
<script type="text/javascript" src="../../plugIn/seajs/sea.js"></script>
<script type="text/javascript" src="../../plugIn/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<div style="height:2000px"></div>



<div class="tips">
    <div class="icon icon1 transition calculator"></div>
    <div class="icon icon2">
        <div class="ewmCon">
            <div class="ewm ewm1">APP下载</div>
            <div class="cover"></div>
        </div>
        <div class="icon2_c"></div>
    </div>
    <div class="icon icon3 transition"><a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDgxODAwOV80NTg5MDZfODAwODE4MDA5XzJf" target="_blank"></a></div>
    <div class="icon icon4">
        <div class="ewmCon">
            <div class="cover"></div>
            <div class="txt">客服电话：<font class="phone">400-888-6221</font></div>
        </div>
        <div class="icon4_c"></div>
    </div>
    <div class="icon icon5">
        <div class="ewmCon">
            <div class="ewm ewm2">官方微信</div>
            <div class="cover"></div>
        </div>
        <div class="icon5_c"></div>
    </div>
    <div class="icon icon6 transition gotoTop"></div>
</div>



<script>seajs.use('./js/init');</script>
</body>
</html>