 <!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{{ title }}</title>

    <link type="text/css" href="/views/disclosure/about/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/plugIn/seajs/sea.js"></script>
    <script type="text/javascript" src="/plugIn/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

{{include '../../module/headInfo/index'}}

<div class="banner">
    <div class="abountMenu">
        <div class="autoCon">
            <span  class="focus"><a href="/about">关于民投</a></span>
            <span><a href="/about/shareholder">股东背景</a></span>
            <span><a href="/about/team">高管团队</a></span>
            <span><a href="/about/honors">资质荣誉</a></span>
            <span><a href="/about/contact">联系我们</a></span>
        </div>
    </div>
</div>
<div class="autoCon">
    <div class="area">
        <div class="title title1"></div>
        <div class="content">
            <p><span class="b1">民投金服</span>（<a href="www.100lending.com" target="_blank">www.100lending.com</a>）成立于2015年，由深圳前海极速一百金融服务有限公司运营，是凤凰金控旗下的互联网金融品牌，实缴资本行业前茅，达1.5亿。2017年获大同市国资委直属企业大同经济发展投资有限公司战略入股，是实缴资本前三的国资二级控股网贷平台。平台核心成员曾就职银行、保险、票据、第三方支付、互联网行业，有着丰富的互联网金融领域从业经验。</p>
            <p>民投金服专注银行承兑汇票理财业务，以优质资产端为依托，将风控措施放在首位，通过十年资深票据团队、互联网运营模式、优化金融产品设计，为中小微企业及投资人提供高效、透明的普惠金融信息服务。</p>
        </div>
    </div>
    <div class="area">
        <div class="title title2"></div>
        <div class="content">
            <p><span class="b2">愿景：</span>成为中国互联网普惠金融发展的标杆企业。</p>
            <p><span class="b2">使命：</span>连接投融资需求，理财端“支持你的从容人生”，贷款端释放金融“普”与“惠”。</p>
        </div>
    </div>
    <div class="area">
        <div class="title title3"></div>
        <div class="content">
            <p><span class="b2">国资背景：</span>国资大同经济发展投资有限公司控股，理财更安心。</p>
            <p><span class="b2">十年资深票据团队：</span>华中区票据市场占有率行业前列，合作中小微企业超15000家。</p>
            <p><span class="b2">优质资产：</span>所有融资项目以银行承兑汇票为质押物，是业内稀缺优质资产。</p>
            <p><span class="b2">稳健运营：</span>平均借款金额38万，拥有17项软件著作权、 获得“国家信息安全等级保护三级认证“，坏账率迄今为0。</p>
            <p><span class="b2">专业管理团队：</span>平台管理团队均为名校毕业，相关从业经验丰富。</p>
        </div>
    </div>
</div>

<script>seajs.use('/views/disclosure/about/js/honors');</script>
</body>
</html>
