 <!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{{ title }}</title>

   <link type="text/css" href="/views/disclosure/about/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/plugIn/seajs/sea.js"></script>
    <script type="text/javascript" src="/plugIn/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
{{include '../../module/headInfo/index'}}
        <div class="banner2">
            <div class="autoCon mapCon">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="mapPoint"></div>
            </div>
            <div class="abountMenu">
                <div class="autoCon">
                    <span><a href="/about">关于民投</a></span>
                    <span><a href="/about/shareholder">股东背景</a></span>
                    <span><a href="/about/team">高管团队</a></span>
                    <span><a href="/about/honors">资质荣誉</a></span>
                    <span class="focus"><a href="/about/contact">联系我们</a></span>
                </div>
            </div>
        </div>
        <div class="autoCon">
            <div class="title title8"></div>
            <div class="contactWay">
                <p>地址：深圳市南山区科技园中区科技中三路国人通信大厦A栋11层1102号</p>
                <p>电话：0755-26910950</p>
                <p>邮编：518000</p>
            </div>
            <div class="contactUs-info g-c">
                <ul>
                    <li class="info-li01">
                        <h6>用户服务</h6>
                        <div class="info info-tel">
                            <i class="tel-ico"></i>
                            400-888-6221
                        </div>
                        <div class="info info-time">
                            <i class="time-ico"></i>
                            <div>
                                <p>08：30 - 20：30（工作日）</p>
                                <p>10：00 - 17：30（周末及节假日）</p>
                            </div>
                        </div>
                        <div class="info info-email">
                            <i class="email-ico"></i>
                            <a href="mailto:kefu@100lending.com">kefu@100lending.com</a>
                        </div>
                        <div class="info info-qq">
                            <i class="qq-ico"></i>
                            612830435
                        </div>
                    </li>
                    <li class="info-li02">
                        <h6>了解民投金服最新进展</h6>
                        <p>官方微信：mintoujinfupif</p>
                        <div class="wxEWM"><img src="../../images/wx.png"></div>
                    </li>
                    <li class="info-li03">
                        <h6>品牌&市场合作</h6>
                        <div>
                            <p>如有品牌活动、媒体采访、平台参观</p>
                            <p>等合作需求，请发邮件至：</p>
                            <p><a href="mailto:pinpai@100lending.com">pinpai@100lending.com</a></p>
                        </div>
                        <div>
                            <p>如有市场、商务资源等合作需求，请</p>
                            <p>发邮件至：</p>
                            <p><a href="mailto:shichang@100lending.com">shichang@100lending.com</a></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
<script>seajs.use('/views/disclosure/about/js/honors');</script>              
    </body>
</html>
