 <!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{{ title }}</title>

    <link type="text/css" href="/views/disclosure/about/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/plugIn/seajs/sea.js"></script>
    <script type="text/javascript" src="/plugIn/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>


{{include '../../module/headInfo/index'}}


        <div class="banner">
            <div class="abountMenu">
                <div class="autoCon">
                    <span><a href="/about">关于民投</a></span>
                    <span><a href="/about/shareholder">股东背景</a></span>
                    <span><a href="/about/team">高管团队</a></span>
                    <span class="focus"><a href="/about/honors">资质荣誉</a></span>
                    <span><a href="/about/contact">联系我们</a></span>
                </div>
            </div>
        </div>
        <div class="autoCon">
            <div class="title title6"></div>
            <div class="honors">
                <div class="leftPoint"><span class="prev"></span></div>
                <div class="honorCon">
                    <div class="honorWrap">
                        <div class="honorList">
                            <div class="honor">
                                <img src="{{staticRoot}}/b1.jpg" >
                                <a rel="honor" href="{{staticRoot}}/b1_b.jpg"></a>
                            </div>
                            <div class="honorName">营业执照</div>
                        </div>
                        <div class="honorList">
                            <div class="honor">
                                <img src="{{staticRoot}}/b2.jpg" >
                                <a rel="honor" href="{{staticRoot}}/b2_b.jpg"></a>
                            </div>
                            <div class="honorName">国家信息安全等级认证</div>
                        </div>
                        <div class="honorList">
                            <div class="honor">
                                <img src="{{staticRoot}}/b3.jpg" >
                                <a rel="honor" href="{{staticRoot}}/b3_b.jpg"></a>
                            </div>
                            <div class="honorName">年度成长突破奖</div>
                        </div>
                        <div class="honorList">
                            <div class="honor">
                                <img src="{{staticRoot}}/b4.jpg" >
                                <a rel="honor" href="{{staticRoot}}/b4_b.jpg"></a>
                            </div>
                            <div class="honorName">互联网金融行业实名网站</div>
                        </div>
                        <div class="honorList">
                            <div class="honor">
                                <img src="{{staticRoot}}/b5.jpg" >
                                <a rel="honor" href="{{staticRoot}}/b5_b.jpg"></a>
                            </div>
                            <div class="honorName">企业信用评级证书</div>
                        </div>
                        <div class="honorList">
                            <div class="honor">
                                <img src="{{staticRoot}}/b6.jpg" >
                                <a rel="honor" href="{{staticRoot}}/b6_b.jpg"></a>
                            </div>
                            <div class="honorName">安全联盟企业信誉评级证书</div>
                        </div>
                    </div>
                </div>
                <div class="rightPoint"><span class="next"></span></div>
            </div>
        </div>
        <div class="f6f6f6">
            <div class="autoCon">
                <div class="title title7"></div>
                <div class="honors">
                    <div class="leftPoint"><span class="prev"></span></div>
                    <div class="honorCon">
                        <div class="honorWrap certificate">
                            <div class="honorList">
                                <div class="honor">
                                    <img src="{{staticRoot}}/c1.jpg" >
                                    <a rel="system" href="{{staticRoot}}/c1_b.jpg"></a>
                                </div>
                                <div class="honorName">支付系统</div>
                            </div>
                            <div class="honorList">
                                <div class="honor">
                                    <img src="{{staticRoot}}/c2.jpg" >
                                    <a rel="system" href="{{staticRoot}}/c2_b.jpg"></a>
                                </div>
                                <div class="honorName">资金管理系统</div>
                            </div>
                            <div class="honorList">
                                <div class="honor">
                                    <img src="{{staticRoot}}/c3.jpg" >
                                    <a rel="system" href="{{staticRoot}}/c3_b.jpg"></a>
                                </div>
                                <div class="honorName">虚拟货币系统</div>
                            </div>
                            <div class="honorList">
                                <div class="honor">
                                    <img src="{{staticRoot}}/c4.jpg" >
                                    <a rel="system" href="{{staticRoot}}/c4_b.jpg"></a>
                                </div>
                                <div class="honorName">内容管理系统</div>
                            </div>
                            <div class="honorList">
                                <div class="honor">
                                    <img src="{{staticRoot}}/c5.jpg" >
                                    <a rel="system" href="{{staticRoot}}/c5_b.jpg"></a>
                                </div>
                                <div class="honorName">市场推广系统</div>
                            </div>
                            <div class="honorList">
                                <div class="honor">
                                    <img src="{{staticRoot}}/c6.jpg" >
                                    <a rel="system" href="{{staticRoot}}/c6_b.jpg"></a>
                                </div>
                                <div class="honorName">运营管理系统</div>
                            </div>
                            <div class="honorList">
                                <div class="honor">
                                    <img src="{{staticRoot}}/c7.jpg" >
                                    <a rel="system" href="{{staticRoot}}/c7_b.jpg"></a>
                                </div>
                                <div class="honorName">消息系统</div>
                            </div>
                            <div class="honorList">
                                <div class="honor">
                                    <img src="{{staticRoot}}/c8.jpg" >
                                    <a rel="system" href="{{staticRoot}}/c8_b.jpg"></a>
                                </div>
                                <div class="honorName">移动理财终端软件（IOS）</div>
                            </div>
                            <div class="honorList">
                                <div class="honor">
                                    <img src="{{staticRoot}}/c9.jpg" >
                                    <a rel="system" href="{{staticRoot}}/c9_b.jpg"></a>
                                </div>
                                <div class="honorName">移动理财终端软件（Android）</div>
                            </div>
                        </div>
                    </div>
                    <div class="rightPoint"><span class="next"></span></div>
                </div>
            </div>
        </div>
        <div class="autoCon">
            <div class="title title8"></div>
            <div class="icp"></div>
        </div>
        <div class="f6f6f6">
            <div class="autoCon">
                <div class="pdfCon">
                    <!--<a><div>合规报告</div></a>
                    <a><div>审计报告</div></a>
                    -->
                    <a><div>验资报告</div></a>
                </div>
            </div>
        </div>

<script>seajs.use('/views/disclosure/about/js/honors');</script>        
    </body>
</html>
