 <!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{{ title }}</title>

   <link type="text/css" href="/views/disclosure/about/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/plugIn/seajs/sea.js"></script>
    <script type="text/javascript" src="/plugIn/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
{{include '../../module/headInfo/index'}}


<div class="banner">
    <div class="abountMenu">
        <div class="autoCon">
            <span><a href="/about">关于民投</a></span>
            <span class="focus"><a href="/about/shareholder">股东背景</a></span>
            <span><a href="/about/team">高管团队</a></span>
            <span><a href="/about/honors">资质荣誉</a></span>
            <span><a href="/about/contact">联系我们</a></span>
        </div>
    </div>
</div>
<div class="autoCon">
    <div class="title title4"></div>
    <div class="content">
        <p>成熟的商业模式，严谨的风控、专业的运营能力以及全国化的战略布局，让民投金服获得多家优质股东方的青睐，成为国资二级控股的互联网金融领先理财平台。</p>
    </div>
    <div class="shareholderData"></div>
    <div class="content">
        <p><span class="bold">大同经济发展投资有限公司</span></p>
        <p>大同经济发展投资有限公司为山西省政府重点融资平台，由大同市人民政府国有资产监督管理委员会独资设立。投资企业涉及文化旅游、交通、资产管理、投资管理、大宗商品交易、区块链、融资租赁、基金管理等领域。</p>
        <p><span class="bold">凤凰金控科技集团有限公司</span></p>
        <p>凤凰金控科技集团有限公司（简称“凤凰金控”）是由中腾时代集团有限公司、武汉市川归信息技术有限公司、北京飞利信科技股份有限公司、北京亿佰国际贸易有限公司四家企业联合发起，以金融产业为龙头，目前已形成了以金融资产交易、票据交易、互联网众筹交易、私募基金、旅游金融为核心的业务布局，将打造行业又一多牌照经营的金融集团。</p>
        <p><span class="bold">深圳市乐投金融信息技术有限公司</span></p>
        <p>深圳市乐投金融信息技术有限公司注册资本1亿元。主要经营范围包括：金融信息咨询、金融中介服务；投资咨询、商务信息咨询、数据处理服务、市场信息咨询、供应链管理、经营电子商务等。</p>
    </div>
</div>

<script>seajs.use('/views/disclosure/about/js/honors');</script>
</body>
</html>