 <!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{{ title }}</title>

   <link type="text/css" href="/views/disclosure/about/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/plugIn/seajs/sea.js"></script>
    <script type="text/javascript" src="/plugIn/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
{{include '../../module/headInfo/index'}}


        <div class="banner">
            <div class="abountMenu">
                <div class="autoCon">
                    <span><a href="/about">关于民投</a></span>
                    <span><a href="/about/shareholder">股东背景</a></span>
                    <span  class="focus"><a href="/about/team">高管团队</a></span>
                    <span><a href="/about/honors">资质荣誉</a></span>
                    <span><a href="/about/contact">联系我们</a></span>
                </div>
            </div>
        </div>
        <div class="autoCon">
            <div class="title title5"></div>
            <div class="team">
                <div class="teamImg tema1"></div>
                <div class="teamExp">
                    <div class="t">
                        <span class="name">陈  明</span><span class="title">首席执行官</span>
                    </div>
                    <div class="exp">
                        <p>西北工业大学工商管理硕士。</p>
                        <p>13年互联网技术经验，7年第三方支付、互联网金融网贷从业经验。</p>
                        <p>曾服务过国电电力、国信信息、快付通等企业，    在知名一线网贷平台担任副总裁，在高效研发管理、互联网支付资金安全、互联网金融运营模式方面有深入研究。</p>
                    </div>
                </div>
            </div>
            <div class="team">
                <div class="teamImg tema2"></div>
                <div class="teamExp">
                    <div class="t">
                        <span class="name">陈振家</span><span class="title">首席风控官</span>
                    </div>
                    <div class="exp">
                        <p>毕业于中南财经大学。</p>
                        <p>30余年大型银行信贷从业经验，曾就职于工商银行。</p>
                        <p>对互联网金融信贷产品的创新、风险管理拥有成熟的运作模式和专业的数据分析，在风险管控、业务拓展、优化资产方面具有极为丰富的实践经验。</p>
                    </div>
                </div>
            </div>
            <div class="team">
                <div class="teamImg tema3"></div>
                <div class="teamExp">
                    <div class="t">
                        <span class="name">滕振春</span><span class="title">首席技术官</span>
                    </div>
                    <div class="exp">
                        <p>毕业于吉林大学计算机系。</p>
                        <p>逾10年互联网技术研发和团队管理经验，曾服务过快付通、野村证券等企业。</p>
                        <p>对互联网技术的特点和发展趋势有深入的研究，在服务化、高性能、高可用架构及安全方面经验丰富。</p>
                    </div>
                </div>
            </div>
            <div class="team">
                <div class="teamImg tema4"></div>
                <div class="teamExp">
                    <div class="t">
                        <span class="name">明 鹏</span><span class="title">首席市场官</span>
                    </div>
                    <div class="exp">
                        <p>北京航空航天大学经济学学士，南开大学金融学硕士。</p>
                        <p>曾在南方传媒担任财经记者，后就职于招商局地产总部营销品牌部。</p>
                        <p>2014年进入互联网金融领域，曾在国内前十的网贷平台担任市场合作部负责人，不到两年时间，平台成交额从10亿突破300亿大关。</p>
                    </div>
                </div>
            </div>
            <div class="team">
                <div class="teamImg tema5"></div>
                <div class="teamExp">
                    <div class="t">
                        <span class="name">吴丹亚</span><span class="title">首席品牌官</span>
                    </div>
                    <div class="exp o1">
                        <p>南开大学金融学硕士。</p>
                        <p>曾就职于珍爱网，成功运作乐嘉、白百何形象代言，电影《失恋33天》品牌植入，电影《LOVE》品牌联合等经典案例，将珍爱网品牌推至行业第一。</p>
                        <p>2014年成功操盘超百亿互金平台的“大鹏”代言案例，出品《拜托了，大鹏！》网络定制剧，将所服务平台推至全国一线品牌。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="structure"></div>

    </body>

<script>seajs.use('/views/disclosure/about/js/honors');</script>
</html>
