 <!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{{ title }}</title>

    <link type="text/css" href="/views/disclosure/supervise/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/plugIn/seajs/sea.js"></script>
    <script type="text/javascript" src="/plugIn/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
{{include '../../module/headInfo/index'}}


        <div class="banner">
            <div class="abountMenu">
                <div class="autoCon">
                    <span><a href="/supervise/supervise">监管部门</a></span>
                    <span class="focus"><a href="/supervise/laws">法律法规</a></span>
                </div>
            </div>
        </div>
        <div class="autoCon">
            <div class="title title2"></div>
            <div class="laws">
                <div class="lawsTitle">关于在民投金服平台上网络借贷关系的合法性</div>
                <div class="lawsTxt">
                    <p>1.《中华人民共和国合同法》第196条规定“借款合同是借款人向贷款人借款，到期返还借款并支付利息的合同”，允许普通民事主体之间发生借贷关系，并认定借款人还本付息的合理性。</p>
                    <p>2.民投金服平台上的网络借贷关系在借款的渠道和方式上进行了创新，出借人与借款人的借贷行为原则上属于民事主体之间的借贷，因此符合《合同法》的相关规定，受到法律保护。</p>
                    <p>3.《网络借贷信息中介机构管理暂行办法》规定：本办法所称网络借贷是指个体和个体之间通过互联网平台实现的直接借贷。个体包含自然人、法人及其他组织。网络借贷信息中介机构是指依法设立，专门从事网络借贷信息中介业务活动的金融信息中介公司。该类机构以互联网为主要渠道，为借款人与出借人（即贷款人）实现直接借贷提供信息搜集、信息公布、资信评估、信息交互、借贷撮合等服务。本办法所称地方金融监管部门是指各省级人民政府承担地方金融监管职责的部门。</p>
                </div>
                <div class="lawsTitle">关于民投金服平台提供居间服务的合法性</div>
                <div class="lawsTxt">
                    <p>根据《合同法》第23章关于“居间合同”的规定，特别是第424条规定的“居间合同是居间人向委托人报告订立合同的机会或者提供订立合同的媒介服务，委托人支付报酬的合同”， 民投金服平台作为依法设立的中介服务机构，为民间借贷提供居间服务，使借贷双方形成借贷关系并收取相关报酬的居间服务过程中借贷居间三方的权益受我国法律保护。</p>
                </div>
                <div class="lawsTitle">关于电子合同的合法性及可执行性</div>
                <div class="lawsTxt">
                    <p>1.《合同法》第10条规定：“当事人订立合同，有书面形式、口头形式和其他形式。”</p>
                    <p>2.《合同法》第11条规定：“书面形式是指合同书、信件和数据电文（包括电报、电传、传真、电子数据交换和电子邮件）等可以有形地表现所载内容的形式。</p>
                    <p>3.《中华人民共和国电子签名法》规定：“民事活动中的合同或者其他文件、单证等文书，当事人可以约定使用或者不使用电子签名、数据电文。”“当事人约定使用电子签名、数据电文的文书，不得仅因为其采用电子签名、数据电文的形式而否定其法律效力。”因此，电子合同与纸质合同具有同等的法律效力。</p>
                </div>
                <div class="lawsTitle">关于出借人在民投金服平台获得的投资收益的合法性</div>
                <div class="lawsTxt">
                    <p>1.《合同法》第211条规定：“自然人之间的借款合同约定支付利息的，借款的利率不得违反国家有关限制借款利率的规定”。</p>
                    <p>2.根据最高人民法院《关于人民法院审理借贷案件的若干意见》第6条规定：“民间借贷的利率可以适当高于银行的利率，各地人民法院可以根据本地区的实际情况具体掌握，但最高不得超过银行同类贷款利率的四倍，（包含利率本款）。超出此限度的，超出部分的利息不予保护。”当期人民银行一年期基准贷款利率为6.00%，则当期基准贷款利率的四倍为24.00%，民投金服的出借收益率低于24.00%，在法律允许的范围内，受到法律保护。</p>
                </div>
            </div>
        </div>
        <div class="f6f6f6">
            <div class="autoCon">
                <div class="title title3"></div>
                <div class="lawsList">
                    <div><a data-title="民投金服服务协议" data-url="https://www.100lending.com/V5161/module/contract/regAgreement.html">民投金服服务协议</a></div>
                    <div><a data-title="理财计划服务协议" data-url="https://www.100lending.com/contract/product/697">理财计划服务协议</a></div>
                    <div><a data-title="借款协议" data-url="https://www.100lending.com/contract/product/683">借款协议</a></div>
                    <div><a data-title="零钱计划服务协议" data-url="https://www.100lending.com/contract/product/1">零钱计划服务协议</a></div>
                    <div><a data-title="自动投标授权书" data-url="https://www.100lending.com/V5161/module/contract/autoConvert.html">自动投标授权书</a></div>
                    <div><a data-title="风险提示书" data-url="">风险提示书</a></div>
                </div>
            </div>
        </div>
        <div class="whiteSpace"></div>

        <script>seajs.use('/views/disclosure/supervise/js/laws');</script>
    </body>
</html>
