 <!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{{ title }}</title>

   <link type="text/css" href="/views/disclosure/supervise/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/plugIn/seajs/sea.js"></script>
    <script type="text/javascript" src="/plugIn/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
{{include '../../module/headInfo/index'}}


        <div class="banner">
            <div class="abountMenu">
                <div class="autoCon">
                    <span class="focus"><a href="/supervise/supervise">监管部门</a></span>
                    <span><a href="/supervise/laws">法律法规</a></span>
                </div>
            </div>
        </div>
        <div class="autoCon">
            <div class="title title1"></div>
        </div>
        <div class="autoCon">
            <div class="list">
                <div class="left jg1"></div>
                <div class="right">
                    <div class="bl">银监会</div>
                    <div class="txt">中国银行业监督管理委员会(简称银监会，CBRC)成立于2003年4月25日，是国务院直属正部级事业单位。根据国务院授权，统一监督管理银行、金融资产管理公司、信托投资公司及其他存款类金融机构，维护银行业的合法、稳健运行。</div>
                </div>
            </div>
            <div class="list">
                <div class="left jg2"></div>
                <div class="right">
                    <div class="bl">工信部</div>
                    <div class="txt">中华人民共和国工业和信息化部(简称工信部)是国务院的直属部门，主要职责为拟订实施行业规划、产业政策和标准;监测工业行业日常运行;推动重大技术装备发展和自主创新;管理通信业;指导推进信息化建设;协调维护国家信息安全等，对互联网金融业务涉及的电信业务进行监管。</div>
                </div>
            </div>
            <div class="list">
                <div class="left jg3"></div>
                <div class="right">
                    <div class="bl">国家互联网信息办公室</div>
                    <div class="txt">2011年5月，经国务院同意，设立国家互联网信息办公室。国家互联网信息办公室的主要职责包括：落实互联网信息传播方针政策和推动互联网信息传播法制建设，指导、协调、督促有关部门加强互联网信息内容管理，负责对金融信息服务、互联网信息内容等业务进行监管。</div>
                </div>
            </div>
            <div class="list">
                <div class="left jg4"></div>
                <div class="right">
                    <div class="bl">国家工商总局</div>
                    <div class="txt">中华人民共和国国家工商行政管理总局（简称国家工商总局)是中华人民共和国国务院主管市场监督管理和有关行政执法工作的正部级国务院直属机构，支持互联网企业依法办理工商注册登记。</div>
                </div>
            </div>
            <div class="list">
                <div class="left jg5"></div>
                <div class="right noBorder">
                    <div class="bl">深圳市金融办</div>
                    <div class="txt">
                        <p>深圳市人民政府金融发展服务办公室为隶属于深圳市人民政府的金融服务和监管部门。具体职能包括：</p>
                        <p>（一）贯彻执行国家、省、市有关金融工作的法律、法规和政策，起草金融发展、服务的地方性法规、规章、拟定地方金融业发展规划和相关政策，经批准后组织实施。</p>
                        <p>（二）研究分析宏观金融形势、国家金融政策和本市金融运行情况，提出改善金融发展环境，加强服务，促进发展的政策建议。</p>
                        <p>（三）负责推进深圳金融改革创新综合实验区建设；指导、推进金融市场体系建设，促进金融发展。</p>
                        <p>（四）负责联系中央驻深金融监管机构、金融机构，做好配合协调和信息交流工作。</p>
                        <p>（五）配合有关部门维护金融秩序。</p>
                        <p>（六）完善深圳金融业整体布局，加强对金融功能区的服务指导；协调开展深港金融业交流，促进区域金融合作。</p>
                        <p>（七）配合有关部门推进投融资体制改革。</p>
                        <p>（八）承办市政府和上级部门交办的其他事项。</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
