
include common/header

h2 Form example
form(method='post', action='/')
	fieldset
		legend Add a user
		p.clearfix
			label First name
			input(name='user')
		p.clearfix
			label Last name
			input(name='lastname')
		p.actions
			input(type='submit' value='save' class='btn primary')

include common/footer