 <!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{{ title }}</title>

   <link type="text/css" href="/views/disclosure/news/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/plugIn/seajs/sea.js"></script>
    <script type="text/javascript" src="/plugIn/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
{{include '../../module/headInfo/index'}}


        <div class="banner">
            <div class="abountMenu">
                <div class="autoCon">
                     <span><a href="/news/noticeList">媒体报导</a></span>
                    <span class="focus"><a href="/news/reportList">平台公告</a></span>
                </div>
            </div>
        </div>
        <div class="autoCon notice">
            <div class="title title2"></div>
            <div class="notices">
                <div class="list">
                    <a href="./noticeDetail.html">
                        <div class="left">关于中国农业银行系统维护升级的公告</div>
                        <div class="right">2017-04-07</div>
                    </a>
                </div>
                <div class="list odd">
                    <div class="left">关于中国农业银行系统维护升级的公告</div>
                    <div class="right">2017-04-07</div>
                </div>
                <div class="list">
                    <div class="left">关于中国农业银行系统维护升级的公告</div>
                    <div class="right">2017-04-07</div>
                </div>
                <div class="list odd">
                    <div class="left">关于中国农业银行系统维护升级的公告</div>
                    <div class="right">2017-04-07</div>
                </div>
                <div class="list">
                    <div class="left">关于中国农业银行系统维护升级的公告</div>
                    <div class="right">2017-04-07</div>
                </div>
                <div class="list odd">
                    <div class="left">关于中国农业银行系统维护升级的公告</div>
                    <div class="right">2017-04-07</div>
                </div>
                <div class="list">
                    <div class="left">关于中国农业银行系统维护升级的公告</div>
                    <div class="right">2017-04-07</div>
                </div>
                <div class="list odd">
                    <div class="left">关于中国农业银行系统维护升级的公告</div>
                    <div class="right">2017-04-07</div>
                </div>
                <div class="list">
                    <div class="left">关于中国农业银行系统维护升级的公告</div>
                    <div class="right">2017-04-07</div>
                </div>
            </div>
            <div class="pages">
                <div class="page">
                    第<i class="pg">1</i>页/共<i class="cal">5</i>
                    <a data-page="fast" href="javascript:void(0);">首页</a>
                    <a data-page="up" href="javascript:void(0);">上一页</a>
                    <a data-page="nu" class="cur" href="javascript:void(0);">1</a>
                    <a data-page="nu" href="/notice/listing/2">2</a>
                    <a data-page="nu" href="/notice/listing/3">3</a>
                    <a data-page="nu" href="/notice/listing/4">4</a>
                    <a data-page="nu" href="/notice/listing/5">5</a>
                    <a href="/notice/listing/2">下一页</a>
                    <a href="/notice/listing/5">末页</a>
                </div>
            </div>
        </div>
    </body>
</html>
