 <!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{{ title }}</title>

    <link type="text/css" href="/views/disclosure/news/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/plugIn/seajs/sea.js"></script>
    <script type="text/javascript" src="/plugIn/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
{{include '../../module/headInfo/index'}}


        <div class="banner">
            <div class="abountMenu">
                <div class="autoCon">
                    <span class="focus"><a href="./reportList.html">媒体报导</a></span>
                    <span><a href="./noticeList.html">平台公告</a></span>
                </div>
            </div>
        </div>
        <div class="autoCon report">
            <div class="title title1"></div>
            <div class="reports">
                <div class="list">
                    <div class="left">
                        <img src="{{staticRoot}}/list.jpg">
                    </div>
                    <div class="right">
                        <a href="./reportDetail.html">
                        <div class="reportTitle">凤凰网：合规时代降临，票据质押类资产受青睐</div>
                        <div class="date">2017-03-20</div>
                        <div class="line"></div>
                        <div class="txt">明鹏表示在资产端的细分领域中，民投金服一直专注于银行承兑汇票。由于银行承兑汇票有着到期刚性承兑的特点，而且票据质押相比其他抵押物流通性和变现能力更佳，在平台发展合规化及投资人的权益保障方面有着天然优势，势必在这一轮行业合规化的浪潮中脱颖而出。</div>
                        </a>
                    </div>
                </div>
                <div class="list">
                    <div class="left">
                        <img src="{{staticRoot}}/list.jpg">
                    </div>
                    <div class="right">
                        <div class="reportTitle">凤凰网：合规时代降临，票据质押类资产受青睐</div>
                        <div class="date">2017-03-20</div>
                        <div class="line"></div>
                        <div class="txt">明鹏表示在资产端的细分领域中，民投金服一直专注于银行承兑汇票。由于银行承兑汇票有着到期刚性承兑的特点，而且票据质押相比其他抵押物流通性和变现能力更佳，在平台发展合规化及投资人的权益保障方面有着天然优势，势必在这一轮行业合规化的浪潮中脱颖而出。</div>
                    </div>
                </div><div class="list">
                    <div class="left">
                        <img src="{{staticRoot}}/list.jpg">
                    </div>
                    <div class="right">
                        <div class="reportTitle">凤凰网：合规时代降临，票据质押类资产受青睐</div>
                        <div class="date">2017-03-20</div>
                        <div class="line"></div>
                        <div class="txt">明鹏表示在资产端的细分领域中，民投金服一直专注于银行承兑汇票。由于银行承兑汇票有着到期刚性承兑的特点，而且票据质押相比其他抵押物流通性和变现能力更佳，在平台发展合规化及投资人的权益保障方面有着天然优势，势必在这一轮行业合规化的浪潮中脱颖而出。</div>
                    </div>
                </div><div class="list">
                    <div class="left">
                        <img src="{{staticRoot}}/list.jpg">
                    </div>
                    <div class="right">
                        <div class="reportTitle">凤凰网：合规时代降临，票据质押类资产受青睐</div>
                        <div class="date">2017-03-20</div>
                        <div class="line"></div>
                        <div class="txt">明鹏表示在资产端的细分领域中，民投金服一直专注于银行承兑汇票。由于银行承兑汇票有着到期刚性承兑的特点，而且票据质押相比其他抵押物流通性和变现能力更佳，在平台发展合规化及投资人的权益保障方面有着天然优势，势必在这一轮行业合规化的浪潮中脱颖而出。</div>
                    </div>
                </div><div class="list">
                    <div class="left">
                        <img src="{{staticRoot}}/list.jpg">
                    </div>
                    <div class="right">
                        <div class="reportTitle">凤凰网：合规时代降临，票据质押类资产受青睐</div>
                        <div class="date">2017-03-20</div>
                        <div class="line"></div>
                        <div class="txt">明鹏表示在资产端的细分领域中，民投金服一直专注于银行承兑汇票。由于银行承兑汇票有着到期刚性承兑的特点，而且票据质押相比其他抵押物流通性和变现能力更佳，在平台发展合规化及投资人的权益保障方面有着天然优势，势必在这一轮行业合规化的浪潮中脱颖而出。</div>
                    </div>
                </div>
            </div>
            <div class="pages">
                <div class="page">
                    第<i class="pg">1</i>页/共<i class="cal">5</i>
                    <a data-page="fast" href="javascript:void(0);">首页</a>
                    <a data-page="up" href="javascript:void(0);">上一页</a>
                    <a data-page="nu" class="cur" href="javascript:void(0);">1</a>
                    <a data-page="nu" href="/notice/listing/2">2</a>
                    <a data-page="nu" href="/notice/listing/3">3</a>
                    <a data-page="nu" href="/notice/listing/4">4</a>
                    <a data-page="nu" href="/notice/listing/5">5</a>
                    <a href="/notice/listing/2">下一页</a>
                    <a href="/notice/listing/5">末页</a>
                </div>
            </div>
        </div>
    </body>
</html>
